h1{
    background-color: black;
    margin: 0 25%;
    color: white;
    text-align: center;
    height: 100px;
    width: 50;
    padding-left: 0%;
    margin-bottom: 27px;
}
p{
    text-align: justify;
}
img{
    margin: 0 25%; 
}
#handebol{
    height: 50%;
}