
footer{
    background-color: #1d256c;
    height: auto;
}
#gaveta{
    width: 50%;
    margin-left: 40%;
}
#parte1{
    margin-top: 40px;
    margin-right: 100px;
    padding-top: 19px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
}
    


header{
    background-color:#1E90FF;
    width: 100%;
    height: 120px;
}

header img{
    width: 70px;
    height: 65px;
    padding-left: 290px;
    padding-top: 25px;
}

header h2{
    font-family: arial;
    color: #FFFF00;

}

header input{
    border-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    bottom: 120px;
    left: 800px;
    height: 30px;
    width: 180px;

}



main{
    width: 100%;
    height: 1500px;
    display: block;
    float: left;
    background-color: white;
}

footer{
    width: 100%;
    height: 100px;
    display: block;
    float: left;
    background-color: #0000FF;
}
#anun{
    width: 80%;
    height: 400px;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 6%;
}

.imagembet{
    width: 100%;
    height: 210px;
}

#carouselExampleCaptions{
    width: 80%;
    height: 550px;
    margin-left: 10%;
    margin-right: 10%;
}
