/* header */
header{
    background-color:#1E90FF;
    height: auto;
}

header img{
    width: 70px;
    height: 65px;
    margin-left: 80%;
    margin-top: 1%;

}
header h2{
    font-family: arial;
    color: #FFFF00;
    text-align: center;
}
header input{
    border-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 30px;
    width: 180px;
    margin-top: 5%;
}
/* header */

/* main */
main .golpenet{
    margin-top: 4%;
    height: 130px;
    background-color: rgb(2, 97, 2);
}
main .carrouselnopadding{
    padding: 0px;
}
main .carrousel0{
    margin-top: 4%;
}
main #carrouselimg{
    height: 600px;
}
/* main */

/* footer */
footer{
    background-color: #1E90FF;
}
footer #parte1{
    font-size: 24px;
}
/* footer */

/* miscellaneous */
#gaveta{
    width: 40%;
    height: auto;
}
*{
    padding: 0px;
    margin: 0px;
}
/* miscellaneous */
