header{
    width: 100%;
    height: 150px;
    display: block;
    float: left;
    background-color: #191970;
}

main{
    width: 70%;
    height: 550px;
    display: block;
    float: left;
    background-color: #FFFF00;
}

aside{
    width: 30%;
    height: 550px;
    display: block;
    float: left;
    background-color: #00008B;
}

footer{
    width: 100%;
    height: 100px;
    display: block;
    float: left;
    background-color: #0000FF;
}